<%- model_class = Restaurant -%>
<div class="page-header">
  <!--<h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>-->
  <div class ="jumbotron">
    <h2>Yelpdemo is the best way to find reviews on local restaurants.</h2>
    <h3>Explore the favorite diners, pastry shops, and eateries in your community.<br />
        Leave reviews and ratings for your fellow foodies.</h3>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:website) %></th>
      <% if user_signed_in? && current_user.admin? %>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= link_to restaurant.name, restaurant_path(restaurant) %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.phone %></td>
        <td><%= link_to restaurant.website, restaurant.website %></td>
        <% if user_signed_in? && current_user.admin? %>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      restaurant_path(restaurant), :class => 'btn btn-primary btn-xs' %>

          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_restaurant_path(restaurant), :class => 'btn btn-default btn-xs' %>

          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      restaurant_path(restaurant),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? && current_user.admin? %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
            new_restaurant_path,
            :class => 'btn btn-primary' %>
<% end %>
